.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
}

/* .tables {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

.team-eliminated, .player-eliminated > td {
  background: lightgray;
}

.team-highlighted, .team-highlighted > td {
  background: #eb7c45 !important;
  color: white;
}

td {
  cursor: default;
}

.competition-table {
  position: fixed;
  right: 10px;
  top: 75px;
}

.data-options {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 0 auto;
    padding-top: 20px;
}

.refresh-data:hover {
    cursor: pointer;
}

.left {
  width: 75%;
}

@media (max-width: 1400px) {
  .left {
    width: 100%;
  }

  .content {
    display: inline;
  }

  .competition-table {
    position: relative;
  }
}

@media (max-width: 600px) {
  .data-options {
    width: 100%;
  }

  .content {
    display: inline;
  }

  .upcoming-matches {
    width: 100%;
  }

  table {
    font-size: .6em;
  }

  td {
    padding: 5px 1px;
  }

  .competition-table {
    position: relative;
  }
}
