.upcoming-matches {
    width: 430px;
    margin: 0 auto;
}

.upcoming-matches > h2 {
  margin-bottom: 5px;
}

.match {
  margin-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}


.match-date {
  margin: 5px;
}

.match-info {
  display: grid;
  row-gap: 5px;
}

.match-team {
    background: #dff4f5;
    padding: 5px;
}

.match-goals, .match-time {
  background: #2bb3bb;
  padding: 5px;
  display: inline-block;
}

.match-result {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  grid-gap: 10px;
}

.match-goals-home {
  margin-right: 5px;
}

.match-status {
  font-weight: bold;
  padding: 5px;
}

.match-status > .live {
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
  color: #33c664;
  font-weight: bold;
  padding: 5px;
}

@keyframes pulsate {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.2;
  }
  100% {
      opacity: 1;
  }
}