.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.tables {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Leave this, might use it for the refresh icon */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.data-options {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 0 auto;
}

.refresh-data:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
  .data-options {
    width: 100%;
  }

  .tables {
    display: inline;
  }
}

s {
  color: red;
  opacity: 0.5;
}
